version: '3.8'

services:
  backend:
    build: .
    container_name: gst_backend
    ports:
      - "80:8000"
    env_file:
      - .env
    environment:
      - POSTGRES_SERVER=db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=gst_compliance
    depends_on:
      - db
    restart: always

  db:
    image: postgres:15
    container_name: gst_db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=gst_compliance
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
